<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.agiledev.agilemail.mappers.AccountMapper">


    <insert id="insertUser" useGeneratedKeys="false" keyProperty="id">
        INSERT INTO sys_user(id)
        VALUES (#{userId});
    </insert>

    <insert id="insertAccount" useGeneratedKeys="false" keyProperty="id">
        INSERT INTO sys_email_account (id, username, password, domain)
        VALUES (#{accountId}, #{username}, #{password}, #{domain})
    </insert>

    <insert id="relateAccount" useGeneratedKeys="false" keyProperty="id">
        INSERT INTO sys_user_email(user_id, email_id)
        VALUES (#{userId}, #{accountId});
    </insert>

    <select id="getUserFirstEmailAccount" resultType="edu.agiledev.agilemail.pojo.EmailAccount">
        SELECT se.id, se.username, se.password, se.domain
        FROM sys_user_email sue,
             sys_email_account se
        WHERE sue.email_id = se.id
          AND sue.user_id = #{userId} LIMIT 1
    </select>

    <select id="getUserEmailAccount" resultType="edu.agiledev.agilemail.pojo.EmailAccount">
        SELECT se.id, se.username, se.password, se.domain
        FROM sys_user_email sue,
             sys_email_account se
        WHERE sue.email_id = se.id
          AND sue.user_id = #{userId}
          AND se.username = #{emailAddress}
    </select>


</mapper>
