<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.agiledev.agilemail.mappers.AddressbookMapper">
  <resultMap id="BaseResultMap" type="edu.agiledev.agilemail.pojo.model.Addressbook">
    <!--@mbg.generated-->
    <!--@Table sys_addressbook-->
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="contact_email" jdbcType="VARCHAR" property="contactEmail" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    `user_id`, id, contact_email, `name`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from sys_addressbook
    where `user_id` = #{uid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!--@mbg.generated-->
    delete from sys_addressbook
    where `user_id` = #{uid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="edu.agiledev.agilemail.pojo.model.Addressbook">
    <!--@mbg.generated-->
    insert into sys_addressbook (`user_id`, id, contact_email,
      `name`)
    values (#{userId,jdbcType=VARCHAR}, #{id,jdbcType=VARCHAR}, #{contactEmail,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.agiledev.agilemail.pojo.model.Addressbook">
    <!--@mbg.generated-->
    insert into sys_addressbook
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        `user_id`,
      </if>
      <if test="id != null">
        id,
      </if>
      <if test="contactEmail != null">
        contact_email,
      </if>
      <if test="name != null">
        `name`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null">
        #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.agiledev.agilemail.pojo.model.Addressbook">
    <!--@mbg.generated-->
    update sys_addressbook
    <set>
      <if test="id != null">
        id = #{id,jdbcType=VARCHAR},
      </if>
      <if test="contactEmail != null">
        contact_email = #{contactEmail,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where `user_id` = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.agiledev.agilemail.pojo.model.Addressbook">
    <!--@mbg.generated-->
    update sys_addressbook
    set id = #{id,jdbcType=VARCHAR},
      contact_email = #{contactEmail,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR}
    where `user_id` = #{userId,jdbcType=VARCHAR}
  </update>

  <select id="searchAddressByIdAndEmail" resultMap="BaseResultMap">
    select * from sys_addressbook
    where id=#{userId,jdbcType=VARCHAR} and contact_email=#{mailId,jdbcType=VARCHAR}
  </select>

  <select id="getContactByUserId" resultMap="BaseResultMap">
    select * from sys_addressbook
    where user_id=#{userId,jdbcType=VARCHAR}
  </select>
</mapper>